.nav-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 20px 0;
  color: white;
  height: 100vh;
  width: 80px;
}

.nav-left-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.nav-left-menu li img {
  width: 40px;
  cursor: pointer;
}

footer {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 14px;
  transform: rotate(180deg);
}