#calories {
  background-color: #FBFBFB;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 25%;
}

@media (min-width: 1025px) {
  #calories {
    width: 80%;
  }
}

.calories-icon {
  width: 60px;
  height: 60px;
}

.calories-value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.calories-value div {
  font-size: 20px;
  color: black;
  font-weight: 700;
}

.calories-title {
  color: #74798C;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin: 0;
}