#sessions {
  background-color: #ff0000;
  border-radius: 5px;
  height: 300px;
  position: relative;
  padding: 0;
}

.sessions-title {
  position: absolute;
  top: 5px;
  left: 30px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  font-weight: 500;
  z-index: 2;
  line-height: 1.5;
}

.custom-tooltip {
  background-color: white;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  color: black;
  border-radius: 5px;
}