.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.dashboard__left {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.dashboard__right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

@media (min-width: 1025px) {
  .dashboard {
    flex-direction: row;
  }

  .dashboard__left {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    width: 70%;
  }

  .dashboard__right {
    flex-direction: column;
    gap: 20px;
    width: 30%;
  }
}